@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&display=swap');

#view-cards-content {
    gap: 8em;
}

h1 {
    color: #4C6B78;
}

h2 {
    font-family: "Poppins", monospace;
    color: #545454;
    font-weight: 300;
    font-size: 13pt;
    margin-bottom: 0;
    max-width: 30em;
    margin-top: 2em;
    text-align: justify;
    line-height: 1.5em;
}

#card-display {
    gap: 5em;
}

button {
    border: none;
    background-color: inherit;
}
